/* Admin.css */

.admin-panel {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    /* 10px margin on all sides */
}

.header {
    margin-bottom: 20px;
}

.table-container {
    width: calc(100% - 20px);
    /* Take the full width of the screen with a 10px margin on each side */
    overflow-x: auto;
    /* Add horizontal scroll if needed */
}

.table th,
.table td {
    text-align: center;
}

.table th[colSpan="2"],
.table td[colSpan="2"] {
    text-align: center;
}